<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Trade Table</h2>

<table style="width:100%">
  <tr>
    <th>TradeId</th>
    <th>OrderId</th>
    <th>Ticker</th>
    <th>Environment</th>
    <th>Price</th>
    <th>Size</th>
  </tr>
  {% for data in trades %}
    <tr>
      <td>{{ data.tradeid }}</td>
      <td>{{ data.orderid }}</td>
      <td>{{ data.ticker }}</td>
      <td>{{ data.environment_type }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.size }}</td>
    </tr>
  {% endfor %}
  
</table>


</body>
</html>

